{% extends "main::text_container.html" %}

{% macro header_passage(object) %}
<header>
    <!-- TO DO -->    
</header>
{% endmacro %}

{% macro version_menu(objId) %}
<!-- PERHAPS NOT NEEDED -->
{% endmacro %}

{% macro nav(text, all_texts, new_reffs, index) %}
    {% if text.prev %}
    {% set prev_reffs = new_reffs|replace_indexed_item(index, text.prev) %}
    <a href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=prev_reffs|join_list_values('+')) }}">«<small>{{ _('Vorherige Seite') }}</small>
    </a>
    {% endif %}
    {% if text.next %}
    {% set next_reffs = new_reffs|replace_indexed_item(index, text.next) %}
    <a class="ml-auto" href="{{url_for('InstanceNemo.r_multipassage', objectIds=all_texts|join_list_values('+'), subreferences=next_reffs|join_list_values('+')) }}"><small>{{ _('Nächste Seite') }}</small>»
    </a>
    {% endif %}
{% endmacro %}

{% macro default_footer() %}
    {% include "main::passage_footer.html" %}
{% endmacro %}

{% macro show_passage(nt, comm_sections) %}
        <article class="hentry entry white col-sm-12">
            <!-- <nav>
                {{ navigation }}
            </nav> -->
            
            <div class="row" id="nt-text">
            <section class="col-sm">{{ nt.text_passage }}</section>
            </div>
            <div class="row" id="com-text">
            {% for text in comm_sections %}
            {%set all_texts = comm_sections|map(attribute='objectId')|list %}
            {%set all_reffs = comm_sections|map(attribute='subreference')|list %}
            {%set new_reffs = comm_sections|map(attribute='subreference')|list %}
            {% set navigation = nav(text, all_texts, new_reffs, loop.index0) %}
                {% if loop.last %}
                <section class="col-sm">
                {% else %}
                <section class="col-sm with-border">
                {% endif %}
                {% if comm_sections|length > 1 %}
                <a href="{{ url_for('InstanceNemo.r_multipassage', objectIds=all_texts|remove_from_list(text.objectId)|join_list_values('+'), subreferences=all_reffs|remove_from_list(text.subreference)|join_list_values('+')) }}">{{ _('Diesen Text ausblenden') }}</a>
                {% endif %}
                    {{ header_passage(text) }}
                    <div class="d-flex flex-row">{{ navigation }}</div>
                        {{ text.text_passage }}
                    <!-- <footer>{% include "main::passage_footer.html" %}</footer> -->
                </section>
            {% endfor %}
            </div>
        </article>
    </div>
{% endmacro %}

{% block texts %}

{{ show_passage(nt, comm_sections) }}

{% endblock %}

{% block pdfs %}

<div class="row">
    {% for text in objects %}
    {% set path = 'images/' ~ text.objectId ~ '.pdf' %}
    <section class="col-sm">
        <div class="embed-responsive embed-responsive-1by1">
            <object data="{{url_for('InstanceNemo.static', filename=path)}}" class="embed-responsive-item"></object>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block metadata %}
{% endblock %}
