<footer id="main-footer">
  <div class="row py-0" id="funding-text">
    <div class="col">Dieses Forschungsvorhaben ist Teil im <a href="https://www.akademienunion.de/forschungsprojekte/" target="_blank">Akademienprogramm</a>, das als derzeit größtes geistes- und kulturwissenschaftliches Langfrist-Forschungsprogramm der Bundesrepublik Deutschland von Bund und Ländern getragen wird. Diese Maßnahme wird mitfinanziert durch Steuermittel auf der Grundlage des vom Sächsischen Landtag beschlossenen Haushalts.</div>
  </div>
  <div class="row py-0">
    <div class="col"><img class="img-fluid" src="{{url_for('InstanceNemo.static', filename='images/sachsen-logo.jpeg')}}" alt="Logo: Akademienunion und Freistaat Sachsen"></div>
  </div>
</footer>