<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav my-0 mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.cjh.uni-jena.de/" target="_blank">{{ _('Über das Projekt') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav" href="{{url_for('InstanceNemo.r_collection', objectId='new_testament')}}">{{ _('Neues Testament') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('InstanceNemo.r_collection', objectId='jewish_texts', )}}">{{ _('Jüdische Texte') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('InstanceNemo.r_collection', objectId='commentaries')}}">{{ _('Kommentare') }}</a>
            </li>            
        </ul>
        {% include "search::search_box.html" %}
    </div>
</nav>
